ul>li {
    list-style-type: none;
}

.showMessages {
    width: 70%;
    height: 60vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(134, 59, 59);
    margin-top: 5px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.item {
    border: 1px solid black;
    margin: 10px;
    text-align: left;
    font-size: 25px;
}

.id {
    width: 20%;
}

.message {
    display: inline-block;
    margin: 0;
    word-wrap: break-word;
}